
module gunicorn 1.0;

require {
	type gconf_home_t;
	type init_t;
	class file { execute execute_no_trans };
}

#============= init_t ==============
allow init_t gconf_home_t:file { execute execute_no_trans };
